div{
    font-size: 30px;
    
    text-align: center;
    margin-left: 0px;
    /* text-shadow: 1px 1px 3px rgba(0,0,0,0.8), 0px 0px 2px  rgba(0,0,0,1); */
    color: rgb(19, 18, 26);
     background: rgb(175, 176, 123);
}
 .head-style
 {
    text-decoration: solid;
 }